.register-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

input {
    width: 24em;
    height: 2em;
    margin: 1em 0;
}

.red-messages {
    font-size: 12pt;
    color: red;
}

.page-split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

.submitRegistration {
    background-color: #204321;
    width: 24em;
    height: 3em;
    border: none;
    box-shadow: 2px 2px black;
    color: #fff;
    transition-duration: 0.4s;
}

.submitRegistration:hover {
    background-color: #306632;
}

.group-photo {
    height: 150px;
    width: auto;
}

.guidelines {
    margin: 2em;
}

.thank-you-message, .error {
    margin: 1em;
}


@media only screen and (max-width: 800px) {
    .page-split {
        flex-direction: column;
        padding-top: 5em;
    }

    .group-photo {
        width: 80vw;
        height: auto;
    }
}