* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
img {vertical-align: middle;}

.suspects-title {
  margin-top: 5em;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  margin: auto;
}

.suspects-container {
  margin: 2em;
}

.mySlides {
  display: flex;
  align-items: center;
  margin: 0 5em;
  padding-bottom: 3em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.active {
    width: 50vw;
    height: 75vh;
}

img {
    height: 250px;
}

.hidden {
    display: none;
}

.prev {
  left: 8vw;
}

/* Position the "next button" to the right */
.next {
  right: 8vw;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.suspect-name {
  text-align: center;
  border-bottom: 4px solid purple;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.identifier {
    font-style: italic;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .prev, .next, .text {font-size: 11px}
  .prev, .next { transform: scale(2.5)}
  .active {
    width: 90vw;
    height: 60vh;
}

.mySlides {
  flex-direction: column;
  margin: 0;
}
}