.App {
  display: flex;
    align-items: center;
  background-color: #000;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px #000;
}

iframe {
  pointer-events: none;
}

a {
  color: #fff;
}

.top-nav-bar {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  top: 0px;
  z-index: 10;
  margin-bottom: 10px;
  background-color: #000;
}

.main-nav {
  list-style-type: none;
}

.main-nav li {
  float: left;
  margin: 0 2em;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 80vw;
  margin: 3em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.highlight-list li::before {
  background: #fff;
}

.text-container {
  overflow: scroll;
  z-index: 1;
  height: 74vh;
  position: fixed;
}

.about-us {
  margin: 3em;
  padding: 2em 0;
}

.corner-logo {
  height: 60px;
  width: 60px;
  right: 10px;
  position: fixed;
  perspective: 1px;
  bottom: 10px;
}

.contact-para {
  margin: 1em 3em;
}

.image-container {
  width: 90vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 415px) {
  ul {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  .corner-logo {
    height: 45px;
    width: 45px;
  }

  .door-animation {
    top: 200px;
    height: 50vh;
  }

  .home-synopsis {
    font-size: 12pt;
    height: 50vh;
    margin: 3em 1em 2em;
  }

  .timer-styles {
    font-size: 22pt;
  }

  .limerick {
    font-size: 11pt;
    padding-top: 1em;
  }
}